
.advanced-search {
  margin: 10px 0;
  input, .ant-select-selector {
    border-radius: 3px !important;
    line-height: 1.5;
  }
  .search-btn-more {
    display: flex;
    justify-content: flex-end;
    & > button {
      margin-left: 12px;
      border-radius: 3px;
      font-size: 13px;
      font-weight: 450;
      line-height: 1.5;
      &:nth-last-of-type(1) {
        margin-right: 15px;
      }
    }
  }
  .ant-form-item {
    margin-bottom: 16px;
    label {
      font-size: 13px;
    }
  }
}

.table-wrapper {
  .ant-form-item {
    margin-bottom: 0;
  }
}

.ant-select-dropdown .ant-select-item {
  font-size: 12px;
  &.ant-select-item-option-active {
    background-color: rgba(#1d7ad9, 0.1);
  }
}